* {
    /* margin: 0; */
}

:root{
/*--------------------Colors--------------------*/
/*Primary*/
    --green: hsl(163, 72%, 41%);
    --red: hsl(356, 69%, 56%);

    --twitter: hsl(195, 100%, 50%);
    --facebook: hsl(203, 89%, 53%);
    --instagram1: hsl(37, 97%, 70%);
    --instagram2: hsl(329, 70%, 58%);
    --youTube: hsl(348, 97%, 39%);

    --main-bg: hsl(0, 0%, 97%);
    --secondary-bg: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --card-bg-hover: hsl(225, 30%, 92%);
    --toggle:hsl(228, 9%, 58%);
    --toggle-before:hsl(225, 100%, 98%);
    --main-text: hsl(230, 17%, 14%);
    --secondary-text: hsl(228, 12%, 44%);
    --third-text: hsl(228, 12%, 44%);
/* ----------Light Theme ------------*/
/*BG*/
/* --white: hsl(0, 0%, 90%);
/*Header BG Pattern*/
/* --pale-blue: hsl(225, 100%, 98%); */
/*Card BG*/
/* --light-grayish: hsl(227, 47%, 96%); */

/*---------- Dark Theme ---------------*/
/*BG*/
/* --very-dark-bg: hsl(230, 17%, 14%);
--dark-blue-bg: hsl(232, 19%, 15%);
--dark-card: hsl(228, 28%, 20%);
--desaturated-blue: hsl(228, 28%, 25%);
--toggle-dark1: hsl(210, 78%, 56%); 
--toggle-dark2: hsl(146, 68%, 55%); */


/*Text*/
/* --dark-grayish: hsl(228, 12%, 44%);
--very-dark: hsl(230, 17%, 14%);
--toggle: hsl(228, 9%, 58%); */
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--main-bg);
    color: var(--main-text);
}

.header{
    background: var(--secondary-bg);
    padding-bottom: 100px;
    border-radius: 0 0 16px 16px;
    padding-top: 2em;
}

header h1 {
    margin: 0;
    font-size: 1.6em;
}

.header-total {
    margin: .5em 0;
    font-weight: 600;
    font-size: .9em;
    color: var(--third-text);
    border-bottom: 1px solid var(--secondary-text);
    padding-bottom: 1.5em;
}

.wrapper{
    padding: 0 30px;
}

.grid{
    display: grid;
    grid-row-gap: 25px;
}
.dark-mode{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}
.dark-mode-title{
    font-weight: bold;
    color: var(--toggle);
}
.checkbox{
    display: none;
}
.checkbox:checked ~ .switch:before{
    transform: translateX(0);
}
.switch{
    height: 35px;
    display: block;
    border-radius: 20px;
    background: var(--toggle);
    width: 70px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
.switch::before{
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background: var(--toggle-before);
    border-radius: 50%;
    transform: translateX(34px);
    transition: ease .3s;
    will-change: transform;
}

/* CARDS */
.top-cards{
    margin-top: -50px;
    margin-bottom: 3em;
}

.card{
    border-radius: 8px;
    overflow: hidden;
    background: var(--card-bg);
    text-align: center;
    padding: 1.5em 0;
    position: relative;
}

.card::before{
    content: "";
    height: 4px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.card:hover{
    background: var(--card-bg-hover);
    cursor: pointer;         
}
.card.facebook::before{
    background: var(--facebook);
}
.card.twitter::before{
    background: var(--twitter);
}
.card.instagram::before{
    background-image: linear-gradient(to right, var(--instagram1) 0%, var(--instagram2) 100%); 
    
}
.card.youtube::before{
    background: var(--youTube);
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -.05em;
}

.card-title img{
    margin-right: 5px;
}

.card-followers{
    
}

.card-followers-number{
    font-size: 50px;
    font-weight: 700;
    color: var(--main-text);
}

.card-followers-title{
    display: block;
    font-size: .75em;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--secondary-text);
}

.card-today{
    margin-top: 25px;
    color: var(--green);
    font-weight: bold;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-today img {
    margin-right: 4px;
}

/*-----------OVERVIEW---------------*/

.overview{
    padding-bottom: 2em;
}

h2{
    color: var(--third-text);
}

.card-small{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    border-radius: 8px;
    background: var(--card-bg);
    padding: 1.7em;
    /* margin-top: 1em; */
}
.card-small:hover{
    background: var(--card-bg-hover);
    cursor: pointer;         
}
.card-small p{
    margin: 0;
}

.card-small-views{
    color: var(--third-text);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -.05em;
}
.card-small-icon{
    text-align: right;
}
.card-small-number{
    font-weight: 700;
    font-size: 2em;
    line-height: .9;
    color: var(--main-text);
}
.card-small-percent{
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--green);
    font-weight: bold;
    font-size: .8em;
}

.card-small-percent.negative{
    color: var(--red);
}


.card-small-percent span{
    display: flex;
    align-items: center;
}

.card-small-percent img{
    margin-right: 4px;
}

@media screen and (min-width: 480px){
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }
    .wrapper{
        max-width: 1440px;
        margin: auto;
    }
}

@media screen and (min-width: 768px){
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px){
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .header-total{
        border: none;
    }
    .header-grid{
        display: grid;
        grid-template-columns: 1fr 200px;
    }
}

.is-dark-mode{
    --main-bg: hsl(230, 17%, 14%);
    --secondary-bg: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --card-bg-hover: hsl(228, 28%, 25%);
    --toggle: linear-gradient(to right, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
    --toggle-before:hsl(230, 17%, 14%);
    --main-text: hsl(227, 47%, 96%);
    --secondary-text: hsl(228, 9%, 58%);
    --third-text: hsl(228, 12%, 44%);
}

.is-light-mode{
    --main-bg: hsl(0, 0%, 97%);
    --secondary-bg: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --card-bg-hover: hsl(225, 30%, 92%);
    --toggle:hsl(228, 9%, 58%);
    --toggle-before:hsl(225, 100%, 98%);
    --main-text: hsl(230, 17%, 14%);
    --secondary-text: hsl(228, 12%, 44%);
    --third-text: hsl(228, 12%, 44%);
}
/*-------------------DARK MODE--------------------*/

@media(prefers-color-scheme:dark){
    :root{
        --main-bg: hsl(230, 17%, 14%);
        --secondary-bg: hsl(232, 19%, 15%);
        --card-bg: hsl(228, 28%, 20%);
        --card-bg-hover: hsl(228, 28%, 25%);
        --toggle: linear-gradient(to right, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
        --toggle-before:hsl(230, 17%, 14%);
        --main-text: hsl(227, 47%, 96%);
        --secondary-text: hsl(228, 9%, 58%);
        --third-text: hsl(228, 12%, 44%);
    }
    /* body{
        background: var(--main-bg);
        color: var(--main-text);
    }
    .header{
        background: var(--secondary-bg);
    }
    .card-followers-title{
        color: var(--secondary-text);
    }
    .card-title{
        color: var(--third-text);
    }
    .card{
        background: var(--dark-card);
    }
    .card:hover{
        background: var(--desaturated-blue);
        cursor: pointer;
    }
    .card-followers-number,
    .card-small-number{
        color: var(--light-grayish);
    }
    .card-small{
        background: var(--dark-card);
    }
    .card-small:hover{
        background: var(--desaturated-blue);
        cursor: pointer;
    }
    .card-small-views{
        color: var(--toggle);
    }
    .switch{
        background-image: linear-gradient(to right, var(--toggle-dark1) 0%, var(--toggle-dark2) 100%);
    }
    .switch::before{
        background: var(--very-dark);
    } */
}